---
BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: Never  
BreakBeforeBraces: Attach 
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 100            
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: true 
NamespaceIndentation: None 
IncludeBlocks: Preserve